---
title: Lauren Mitchell | Data Analyst
name: home
layout: base
image: "/img/og-img.png"
---

<div class="bg"></div>
<main class="site-container">
  <div class="home">
    <div class="intro">
      <div>
        <h1><span class="hint" title="Type my name and see what happens">Lauren</span> Mitchell</h1>—Data Analyst at Knowi.
      </div>
      <div>Data problem solver with a passion for AI and data visualization, aiming to shape a career that sits at the intersection of science, education, and data.<span class="accent superscript" id="asterisk" onmouseover="addClass(asterisk2, 'footnote-accent');" onmouseout="removeClass(asterisk2, 'footnote-accent');">*</span></div>
      <hr class="accent">
    </div>
    <div class="flex">
      <div class="work column">
        <h2>Selected work</h2>
        {% for item in site.data.portfolio %}
          {% if item.show %}
          <a class="project" id="{{ item.id }}" onmouseover="addClass(body, '{{ item.id }}');" onmouseout="removeClass(body, '{{ item.id }}');" href="{{ item.url }}">
            <b>{{ item.title }}</b>—{{ item.description }}{% if item.external%}<span class="accent external-link">&#8599;&#xFE0E;</span>{% endif %}
          </a>
          {% endif %}
        {% endfor %}

      </div>
      <div class="about column">
        <h2>A little about me</h2>
        <div> I'm currently a Data Analyst at <a href="https://www.knowi.com/">Knowi</a>, where I help our customers solve their technical problems.</div>
        <div>Before that, I was the Chief Data Scientist at <a href="https://openclass.ai/">OpenClass</a>, an outdoor education instructor at <a href="https://www.htoec.org/">High Trails</a><span class="accent superscript" id="dagger" onmouseover="addClass(dagger2, 'footnote-accent');" onmouseout="removeClass(dagger2, 'footnote-accent');">†</span>, and a Staff Geologist at <a href="https://www.rouxinc.com/">Roux</a><span class="accent superscript" id="doubledagger" onmouseover="addClass(doubledagger2, 'footnote-accent');" onmouseout="removeClass(doubledagger2, 'footnote-accent');">‡</span>.</div>
        <div>I'm from the Bay Area and I love backpacking the Sierras, making pottery<span class="accent superscript" id="paragraph" onmouseover="addClass(paragraph2, 'footnote-accent');" onmouseout="removeClass(paragraph2, 'footnote-accent');">¶</span>, and the occasional bike party.</div>
        <div class="notes grid">
          <span class="accent">*</span><p class="note" id="asterisk2"><span>Where I can be reached online: <a href="https://www.linkedin.com/in/laurenmit/">LinkedIn</a>. Here's my <a href="/mitchell-resume-2024.pdf">resume</a> if you need it.</span></span></p>
          <span class="accent">†</span><p class="note" id="dagger2"><span>Teaching 6th graders science and history... accents, costumes, and all.</span></p>
          <span class="accent">‡</span><p class="note" id="doubledagger2"><span>Where I put my Geology degree to work</span></p>
          <span class="accent">¶</span><p class="note" id="paragraph2"><span>A pandemic hobby that got out of hand</span></p>
          <span class="accent optically-smaller">&#8599;&#xFE0E;</span><p class="note" id="external2"><span>This means I do not have a public case study yet and I must send you somewhere else.</span></p>
        </div>

      </div>
    </div>
  </div>
</main>
